.wrapper {
  margin: 10px auto;
  width: 1200px;
}

svg {
  background: #eee;
}

#map {
  float: left;
}

#routes {
  float: left;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 20px;
  float: left;
  font-size: .875em;
}

path {
  fill: transparent;
  stroke: black;
  stroke-width: .5px;
}

g.neighborhoods path {
  fill: #ddd;
}

g.arteries path {
  /*stroke: blue;*/
  /*stroke-width: 1px;*/
}

g.n path {
  stroke: red;
  opacity: .5;
}

g.n path:hover {
  opacity: 1;
}