.wrapper {
  margin: 10px auto;
  width: 1200px;
}

svg {
  background: #eee;
}

#map {
  float: left;
}

#routes {
  float: left;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 20px;
  float: left;
  font-size: .875em;
}